# Contents List
- Importing Libraries and Data Frames
    - products_checked
    - orders_combines
- Merge Dataframes
- Export
    - orders_products_merged

# 01. 4.6 Task

## Importing libraries and dataframes

In [1]:
## import libraries
import pandas as pd
import numpy as np
import os

In [2]:
##importing dataframe
path = r'C:\Users\kesmc\Documents\2023 Instacart Basket Analysis CF\02 Data'

In [3]:
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False)

In [4]:
df_ords_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_combined.pkl'))

## Check Output

In [5]:
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,1,2,8,NaN,196,1,0
1,0,2539329,1,1,2,8,NaN,14084,2,0
2,0,2539329,1,1,2,8,NaN,12427,3,0
3,0,2539329,1,1,2,8,NaN,26088,4,0
4,0,2539329,1,1,2,8,NaN,26405,5,0

In [6]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_ords_combined.shape

(32434489, 10)

In [8]:
df_prods.shape

(49672, 6)

## Merge dataframes

In [9]:
#merge using product_id
df_ords_prods_merged=df_ords_combined.merge(df_prods, on='product_id', indicator=True)

In [10]:
df_ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [11]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
#check using outer join
df_ords_prods_merged=df_ords_combined.merge(df_prods, on='product_id', how='outer', indicator=True)

In [13]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

In [14]:
#return to inner join
df_ords_prods_merged=df_ords_combined.merge(df_prods, on='product_id')

## Export

In [15]:
df_ords_prods_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))