# Contents List
- Importing Libraries and Data Frames
    - orders_checked
    - products_checked
    - orders_products__prior
- Merging Data
- Exporting in pkl
    - orders_combined

# 01. Merging Instacart Data

In [1]:
## import libraries
import pandas as pd
import numpy as np
import os

In [2]:
##importing dataframe
path = r'C:\Users\kesmc\Documents\2023 Instacart Basket Analysis CF\02 Data'

In [3]:
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [4]:
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'order_products__prior.csv'), index_col = False)

use df_ords_prior to merge with df_ords and then merge df_ords with df_prods using product_id column

In [6]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 7)

In [10]:
#merge using 'order_id' - 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

NOTE: Default is Inner join so all should be a FULL MATCH

In [11]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

NOTE: Inner join led to false conclusion of full match - merge flag only shows entries that have value of both - yet resulting df has the larger number of rows, pandas filled in the df_ords df.

how=outer will show real merge rate

In [13]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

NOTE: We will only be working with data sets that have full merge rate so using 'inner' is fine but double check merge rates using an outer join is good practice

In [15]:
#retuen df to inner join
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id')

# 02. Exporting in Pickle Format (.pkl)

CSV Files
Advantages: Can be opened in multiple tools and programs (Excel, SAS, R) - Can be customized to include certain columns or rows when imported - Have a high compression rate when zipped
Disadvantages: Take more time to import and export when data sets are large - Can lead to index column issues when exporting and reimporting

PKL Files 
Advantages: Can be imported and exported quickly - Save dataframes exactly as they look in Jupyter, guaranteeing your reimported dataframe won’t be changed - Have a high compression rate when zipped
Disadvantages: Are only accessible to Python users - Can’t be customized to include certain columns or rows when imported

In [16]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_combined.pkl'))

NOTE: Importing pickle files uses (read_pickle()) and the lack of an index_col, since pickle-format files include this information already.